*{margin:0;padding:0}
body,html{
    width: 100%;
    height: 100%;
}

.container{
    max-width: 1046px;
}
#page{
    background-color: red;
    height: 100%;
}
#wrapper{
    background-color: white;
    overflow: hidden;
    padding: 15px 18px;
    height: 100%;
    position: relative;
}
ul{
    list-style: none;
    margin:0;
}
.left{
    float: left;
}
.right{
    float: right;
}
/*******************HEADER*********************/
nav{
    overflow: hidden;
}
.navbar-brand{
    margin-right: 2px;
}
.navbar-brand img{
    width: 111px;
    height: 148px;
}
.left-nav ul li{
    margin: 5px 5px;
}
.right-nav img{
    margin-top: 6px;
}
ul.mtab{


}
ul.mtab li{}
ul.mtab li a{
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    border-bottom: 2px solid #fff;
    margin: 0px 50px;
    padding-bottom: 5px;
}
li.active{
    border-bottom: 2px solid red;
}
footer{
    width: 96%;
    position: absolute;
    bottom: 0;
}
.main-footer{
    border-top: 2px solid #db0b21;
    font-size: 15px;
    background: #fff;
    padding: 15px;
    color: #444;
    margin-top: 10px;
}

.main-footer a{
    color: black;
}

.h4{
    color: #0a0a0a;
}

.row{
    text-align: center;
}