.modal-research .modal-header
{
    background-color: #fff;
    color: #393a3c;
}

.modal-research .modal-header h4
{
    font-weight: bold
}

.modal-research .modal-footer .btn-accept
{
    background-color: #f04945;
    color: #fff;
    padding: 12px;
    font-size: 20px;
    font-weight: bold
}

.modal-research .modal-body
{
    white-space: pre-line
}